/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Short+Stack&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e6f5eb;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align items on the cross-axis */
  height: 6rem;
}

header {
  background-color: rgb(46, 112, 85);
  color: #fff;
  box-shadow: 1px 1px 3px 2px #aaaaaa;
}

h1 {
  margin: auto;
  font-size: 8vh;
  font-family: 'Amatic SC';
  letter-spacing: 1vh;
}

.intro {
  font-family: 'Short Stack';
  font-size: 3vh;
}

main {
  flex-grow: 1;
  /* pushes down footer, pushes up on header. creates our sticky footer*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0 0 0;
}

#user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
}

h4 {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

#api {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
  justify-content: space-evenly;
}

.instructions {
  margin: 1rem 0;
}


#recipe-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#row1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#recipe-ingredients {
  margin: 0 auto;
}

ul {
  list-style-type: circle;
}

footer {
  justify-content: center;
  /* align items on the main axis */
  font-size: 12px;
}

@media only screen and (max-width: 1024) {
  #api {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  main {
    width: 90%;
  }

  #row1 {
    flex-direction: column;
  }
}